.wrapper{
    display: flex;
}
.sidebar{
    /* max-width: 190px;
    width: 190px;
    border-right: 1px solid #ddd;
    height: 100%;
    position: absolute; */

    max-width: 190px;
    width: 190px;
    transition: all 0.6s linear;
    border-right: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-bottom: 20px;
}
.main{
    flex: 1;
}

.header-sidebar{
    background-image: url("../img/logo.png");
    font-size: 20px;
    font-weight: 500;
    color: #232428;
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: center left 20px;
    padding: 20px 20px 20px 44px;
    border-bottom: 1px solid #ddd;
    position: relative;
    height: 64px;
}

.header-sidebar__name{
    font-weight: 700;
}

.account{
    padding: 25px 20px;
    display: flex;
    align-items: center;
}

.account__name{
    font-size: 14px;
    margin-left: 10px;
}

.account__img{
    height: 40px;
    width: 40px;
    border-radius: 5px;
}
.menu{

}

.menu__item{
    height: 40px;
    line-height: 40px;
    padding-left: 20px;
    margin: 10px 0;

}

.menu__item:hover{
    background-color: #f5faf8;
}

.menu__link{
    font-size: 15px;
    color: var(--text-blur);
}

.menu__item:hover .menu__link{
    color: #a8d7c2;
}

.menu__item:hover .menu__link .menu__icon{
    color: #a8d7c2;
}

.menu__icon{
    color: var(--text-blur);
    font-size: 16px;
    margin-right: 10px;
}

.menu__item-active{
    background-color: #e0f1e9;
}

.menu__item-active .menu__link{
    color: #499d77;
}

.menu__item-active .menu__link .menu__icon{
    color: #499d77;
}

.menu_private, .menu_public{
    height: 40px;
    background-color: #fafafa;
    line-height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.menu__name{
    color: var(--text-blur);
}

.menu__invite{
    position:fixed;
    bottom: 0;
    height: 64px;
    background-color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu__invite-btn{
    /* font-size: 16px;
    font-weight: 100;
    color: var(--white-color);
    background-color: var(--primary-color);
    border: none;
    border-radius: 5px;
    width: 160px;
    height: 40px; */
    background-color: #499d77;
    border: none;
    color: #fff;
    border-radius: 4px;
    padding: 10px;
    font-size: 14px;
    line-height: 20px;
    width: 100%;
    max-width: 160px;
    margin: 0 auto;
    display: block;
    margin-top: auto;
    cursor: pointer;
}

.menu__invite-btn:hover{
    background-color: #438f6c;
}

.header{
    display: flex;
    flex-direction: row;
    width: 100%;
    border-bottom: 1px solid #ddd;
    position: fixed;
    top: 0;
    height: 64px;
    align-items: center;
    background-color: var(--white-color);
    z-index: 10;
}

.header__search{
    display: flex;
    flex-direction: row;
    margin-left: 40px;
    align-items: center;
    width: calc(100% - 526px);
}

.header__search::after{
    /* content: "";
    display: block;
    position: absolute;
    border-left: 1px solid var(--text-color);
    height: 12px;
    right: -14px;
    top: 50%;
    transform: translateY(-50%); */

    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid var(--text-blur);
    height: 81px;
    right: 0;
    top: 36%;
    transform: translateY(-50%);
}

.header__search-link{
     margin: 0 10px;
     font-weight: 500;
}

.header__search-input{
    border: none;
    height: 50px;
    width: 100%;
    font-size: 16px;
}

.header__upload{
    flex: 1;
    float: right;
}
.header__upload-btn{
    border: none;
    border-radius: 5px;
    width: 106px;
    height: 36px;
    margin: 0 10px;
}

.btn-record{
    background-color: #e6f1ed;
    color: var(--primary-color);
}

.btn-record:hover{
    background-color: #d2e6df;
}

.btn-upload{
    background-color: var(--primary-color);
    color: var(--white-color);
}

.btn-upload:hover{
    background-color: #62b18f;
}
.menu__icon-record{
    color: var(--primary-color);
    margin-right: 10px;
}

.menu__icon-upload{
    color: var(--white-color);
    margin-right: 10px;
}

.header__search-wrapper{
    width: 80%;
    display: flex;
    align-items: center;
}

.content{
    padding: 88px 40px;
}

.header__slide{
    display: flex;
    justify-content: space-between;
}

.header__slide-next-icon{
    font-size: 20px;
    color: var(--primary-color);
}

.header__slide-heading{
    font-size: 15px;
    font-weight: 500;
}

.video-upload{
    background-image: url("../img/background-img-2.jpg");
    width: 100%;
    border-radius: 5px;
    height: 320px;
    margin-top: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 20px;
}

.video-upload__name{
    display: block;
    font-size: 16px;
    color: var(--white-color)
}

.video-upload__time{
    font-size: 11px;
    color: #ededed;
}

.slide-treding{
    margin-top: 45px;
}


.card-video{
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.09);
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.card-video__description{
    padding: 20px;
}

.video-avatar{
    background-image: url("../img/img-1.jpg");
    width: 100%;
    height: 150px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.card-video__play{
    background-color: var(--white-color);
    height: 30px;
    width: 30px;
    border-radius: 50%;
    position: absolute;
    top: 130px;
    right: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;

}

.card-video__play-icon{
    color: var(--primary-color);
}
.card-video__name{
    font-size: 13px;
}

.card-video__by-name{
    font-size: 11px;
    color:  #a8a8a8;
    margin: 10px 0;
}

.card-video__interactive{
    font-size: 12px;
    color: rgba(0, 0, 0, 0.6);
}

.card-video__interactive-view{
    margin-right: 8px;
}

.card-video__interactive-view::after{
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid var(--text-blur);
    height: 15px;
    left: 86px;
    transform: translateY(-96%);
}

.card-video__description{
    margin-top: 10px;
}

.video-treding{
    margin-top: 10px;
}

.HN-icon{
    color: red;
}